<h3>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h3>

<h5 class="task <%= song.title %>" id="song-<%= song.id %>">
  <span class="name"><%= song.title %></span>
  
    <span class="embed_code"><%= song.embed_code.html_safe() %></span>

    
  
</h5>